---

---

<div
  class="hero min-h-screen"
  style="background-image: url(/hero.png);"
>
  <div class="hero-overlay bg-black/60 dark:bg-black/50"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Build Your Coffee</h1>
      <p class="mb-5">
        Forming a bond can start from brewing two cups of quality coffee. We appreciate these little things just like you appreciate your relationship.
      </p>
      <a href="/products" class="btn py-6 btn-secondary dark:btn-primary hover:scale-105">Browse products</a>
    </div>
  </div>
</div>