---
const {page} = Astro.props;
---

<div class="join justify-center w-full mt-auto">
    <button class="join-item btn" disabled={ page === 1 } id="prev">«</button>
    <p class="join-item p-2 px-6" id="current">{ page }</p> 
    <button class="join-item btn" id="next">»</button>
</div>

<script>
    import { actions } from "astro:actions";

    if(sessionStorage.getItem('page') === null) {
      const {data} = await actions.product.getPageCount({});
      sessionStorage.setItem('page', data!.toString());
    }
    const page = sessionStorage.getItem('page');
    const current = document.getElementById('current')!;
    const next = document.getElementById('next');
    if (page == current.textContent) next?.setAttribute('disabled', 'true');
</script>

<script is:inline define:vars={{ page }}>

    const prev = document.getElementById('prev');
    const next = document.getElementById('next');

    next?.addEventListener('click', ()=>{
      window.location.assign(`/products/${page+1}`);
    });
    prev?.addEventListener('click', ()=>{
      window.location.assign(`/products/${page-1}`);
    });

</script>

