@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: caramellatte --default, coffee;
}

@custom-variant dark (&:where([data-theme=coffee], [data-theme=coffee] *));

@theme {
    --font-mont: "Montserrat", 'sans-serif';
    --font-poet: "Poetsen One", 'sans-serif';
}


.auth-bg {
    background: url('/bg.png') rgba(0, 0, 0, 0.667);
    background-position-y: 20px;
    background-blend-mode: multiply;
    animation: upDown ease-in-out 3s forwards infinite alternate ;
    animation-delay: 0.4s;
}

@keyframes upDown {
    from {background-position-y: 20px}
    to {background-position-y: -20px}
}