---
import Layout from "src/layouts/Layout.astro"
import { actions, isInputError } from 'astro:actions';
const res = Astro.getActionResult(actions.user.loginUser);
if (res?.data) {
    const url = await Astro.session?.get('last-page');
    if (url !== undefined) {
        return Astro.redirect(url);
    }
    return Astro.redirect('/');
}
if (await Astro.session?.has('user')) return Astro.redirect('/');

---

<Layout>
    <div class="w-full xl:h-[91vh] 2xl:h-[93.3vh] h-screen grid place-items-center auth-bg" >
        <div class="bg-base-200 w-fit min-h-80 rounded-lg p-8 flex flex-col items-center justify-center shadow">
            <h1 class="text-xl font-bold">Login</h1>
            <form method="post" action={actions.user.loginUser}>
                <fieldset class="fieldset mb-2">
                    <legend class="fieldset-legend ps-1">Email</legend>
                    <input type="email" name="email" id="email" class:list={['input input-md w-80', res?.error && "border-error"]}  placeholder="email@gmail.com" autofocus autocomplete="email" />
                    {isInputError(res?.error) && (
                        <p class="text-xs text-error ps-2">{res.error.fields.email?.join(', ')}</p>
                      )}
                </fieldset>
                <fieldset class="fieldset mb-2">
                    <legend class="fieldset-legend ps-1">Password</legend>
                    <input type="password" name="password" id="password" class:list={['input input-md w-80', res?.error && "border-error"]} placeholder="password" />
                    {isInputError(res?.error) && (
                        <p class="text-xs text-error ps-2">{res.error.fields.password?.join(', ')}</p>
                      )}
                </fieldset>
                <button type="submit" class="btn btn-secondary w-full mt-6 py-6">Login</button>
                <div class="mt-4 text-center text-sm">Don't have an account? <a href="register" class="hover:link text-blue-500">Signup</a></div>
            </form>
        </div>
    </div>
</Layout>

<script is:inline>
    const email = document.getElementById('email');
    const lastEmail = sessionStorage.getItem('email');
    if (window.location.search === '?_action=user.loginUser') {
        email.value = lastEmail;
    } else {
        sessionStorage.clear();
    }

    email.onchange = () => {
        sessionStorage.setItem('email', email.value);
    }
</script>

{
    res?.error ?
    <script is:inline>
        const timeout = setTimeout(()=>{
            if (document.getElementById('email').value !== '') {
            document.getElementById('password').focus();
            clearTimeout(timeout);
            }
        }, 300);
    </script>
    : null
}