---
import CustomAlert from "src/components/react/composables/CustomAlert";
import WebNavbar from "../components/astro/navigations/WebNavbar.astro";
import { db } from "../database/mongodb";
import "../styles/global.css";
import FloatingCart from "src/components/react/FloatingCart";
if (!db.isConnected) {
  db.open();
}
const IsAlert = await Astro.session?.get("alert");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/coffee.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Coffee Builder</title>
    <script src="/js/load.js" is:inline></script>
    
  </head>
  <body>
    <WebNavbar server:defer>
      <nav class="h-14" slot="fallback"></nav>
    </WebNavbar>
    <slot />
    {IsAlert && <CustomAlert client:only="react" {...IsAlert} />}
    {
      (await Astro.session?.has("user")) && Astro.originPathname !== "/cart" ? (
        <FloatingCart client:visible />
      ) : null
    }
  </body>
</html>

<style>
  html,
  body {
    font-family: "Montserrat";
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
